.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#productsContainer {
    margin-top: 20px;
    text-align: left;
}