body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main, .aside {
    flex-basis: 48%; /* Ширина основной части и блока сбоку */
}

.product-card, .user-info {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
}