/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/default-background.jpg'); /* Дефолтное фоновое изображение */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease; /* Плавное изменение фонового изображения */
}

.container {
    text-align: center;
}

.heading {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем тень тексту */
}

.search-container {
    margin-top: 20px;
}

.city-input {
    padding: 10px;
    border: 2px solid #007bff; /* Синяя рамка */
    border-radius: 5px;
    font-size: 16px;
    width: 300px; /* Ширина строки ввода города */
    box-sizing: border-box; /* Учитываем ширину рамки в общей ширине элемента */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Эффект тени с большим радиусом размытия и большей прозрачностью */
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    font-size: 16px;
    font-weight: bold; /* Полужирный шрифт */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    cursor: pointer;
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
}

.search-button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

/* Стили для блока с результатами погоды */
.weather-result {
    margin-top: 20px;
    text-align: center;
}

/* Стили для надписи с названием города и страны */
.weather-location {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стили для надписи с температурой и иконки погоды */
.weather-info {
    font-size: 28px;
    border: 2px solid #333; /* Рамка вокруг текста */
    padding: 10px; /* Отступ внутри рамки */
    border-radius: 10px; /* Закругленные углы рамки */
    font-family: Arial, sans-serif; /* Шрифт */
    background-color: #deeff5; /* Однотонный фон */
}

/* Стили для иконки погоды */
.weather-icon {
    width: 100px; /* Увеличиваем размер иконки */
    height: 100px; /* Увеличиваем размер иконки */
}